@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  @font-face {
    font-family: 'TerminusTTF';
    src: url('/fonts/TerminusTTF.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
  }
}